.documentsBody {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--spacing-md);
}

.documentsList {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.uploadButton {
    width: 100%;
}